$primary: #32c3ff;

//NOTE reactstrap and bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../src/styles/signin.scss';
@import '../src/styles/signup.scss';
@import '../src/styles/productdisplay.scss';
@import '../src/styles/mainnavbar.scss';
@import '../src/styles/bottomnavbar.scss';
@import '../src/styles/home.scss';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

// --------------------
// Style for App component
.App {
  text-align: center;

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }

  .App-header {
    background-color: $primary;
    padding: 20px;
    color: white;

    a {
      color: white;
      padding: 0 5px;
      text-decoration: unset;
    }

    a.active {
      font-weight: bold;
    }
  }
}

// --------------------
// Style for Home component
.Home {
  p {
    font-size: 1.2em;
  }
}

// --------------------
// Style for Secret component
.Secret {
  .result {
    font-size: 1.2em;
    color: $primary;
  }
}
