$brown: #6b4815;
$peru: #bc8c2a;
$seagreen: #236166;
$lightblue: #9dc1c6;
$gray: #dadeda;

//NOTE reactstrap and bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../src/styles/signin.scss';
@import '../src/styles/signup.scss';
@import '../src/styles/display.scss';
@import '../src/styles/mainnavbar.scss';
@import '../src/styles/bottomnavbar.scss';
@import '../src/styles/home.scss';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

a {
  color: $seagreen;
}
