.bottom-navabr {
  font-family: 'Roboto', sans-serif;
}

.bottom-nav-icon-title {
  color: $seagreen;
  font-weight: bold;
  font-size: 1.3rem;
}
.bottom-nav-icon-title i {
  padding-right: 5px;
}

.mr-auto .navbar-nav{
}