.home {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.jumbotron-wrapper {
  position: absolute;
  text-align: left;
  top: 10%;
  left: 5%;
  color: $gray;
  font-weight: bold;
}

.jumbotron-wrapper > p {
  font-family: 'Nunito', sans-serif;
}

.jumbotron {
  background-color: $peru;
}

#learn-more {
  color: white;
}
.jumbotron-wrapper > h1 {
  font-family: 'Roboto', sans-serif;
}

#learn-more,
#user-btn {
  background-color: $seagreen;
  border-color: $seagreen;
}
