.main-nav-wrapper {
  font-family: 'Roboto', sans-serif;
  color: white;
}

.keto_logo {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  min-height: 40px;
  min-width: 40px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shop-name {
  color: white;
  font-size: 1.3rem;
  // -webkit-text-stroke: 2px blue;
  text-shadow: black 1px 0 10px;
}

.shop-name:hover {
  color: white;
  text-decoration: none;
}

.btn-logout {
  color: white;
  font-weight: bold;
}

.login-form > input {
  border: none;
  padding: 5px;
  background-color: #7b766c47;
}

.navbar-nav {
  align-items: center;
}
